<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

            <!-- lib.usermenu (inner) -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-user"></span>
                    Username
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>

            <!-- lib.mainmenu (inner) -->
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Partners</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Join us</a></li>
                    <li><a href="#">Fleet</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hubs
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Oslo Hub</a></li>
                            <li><a href="#">Copenhagen Hub</a></li>
                            <li><a href="#">Stockholm Hub</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Schedules</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Operations
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Members</a></li>
                            <li><a href="#">Pilot roster</a></li>
                            <li><a href="#">Ranks</a></li>
                            <li><a href="#">Airline performance</a></li>
                            <li><a href="#">Airline maps</a></li>
                            <li><a href="#">Events calendar</a></li>
                            <li><a href="#">Sceneries</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Forums
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Teamspeak</a></li>
                            <li><a href="#">Photo album</a></li>
                            <li><a href="#">Mass emailer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Donations</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- Breadcrump (inner) -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Library</a> <span class="divider">/</span>
                </li>
                <li class="active">Data</li>
            </ul>
        </div>
    </div>


    <div class="row-fluid">

        <!-- Sidebar (inner) -->
        <div class="span3 sidebar">
            <div class="well">
                <a href="/"><img src="img/logo.jpg" alt=""/></a>
            </div>

            <div class="well">
                <iframe src="http://www.vafinancials.com/vadata/vadetail.php?id=19627?H=0&S=0&O=0&L=25&VA=19627,FFFFFF,Schedule Information,333333,FFFFFF,000000,FFFFFF,EAEAEA,000000,FFFFFF,000000,FFFF00,000000,1f45b8,fae100,1f45b8" width="100%" border="0" frameborder="0"></iframe>
            </div>

            <div class="well">
                <iframe src="http://www.vafinancials.com/v5/plugins/new_pilots.php?id=19627" border="0" frameborder="0" width="152px" height="170px"></iframe>
            </div>
        </div>

        <!-- Content (inner) -->
        <div class="span9 content">

        </div>

    </div>

    <hr/>
    <!-- lib.footer (inner) -->
    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div>
</body>
</html>